body {
  margin: 0;
}

#noscript {
  min-height: 100dvh;
  font-family: sans-serif;
  font-size: 2rem;
  background: whitesmoke;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
